@use './reset.scss';
@use './override.scss';

.Icon {
    width: 20px;
    height: 20px;
}

.title {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.title--smal {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.text {
    font-size: 1.05rem;
    color: #555;
}